#title {
    display: flex;
    justify-content: center;
}

.carouseldiv {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    /* Optional: Set the height as needed */
}

.carouseldiv h5{
    color: white;
    font-size: 30px;
}

.carousel-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-image {
    max-width: 72%;
    /* Ensure the image doesn't exceed its container */
    max-height: 100%;
    /* Ensure the image doesn't exceed its container */
}
.cards{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#card-center{
    margin-left: 30px;
    margin-right: 30px;
}